---
import Layout from '../layouts/Layout.astro'
import { Project } from '../components/Project'
import { projects } from '../data/projects'
import { motion } from 'framer-motion'

export const fadeIn = (x: number, y: number, delay = 0, duration = 0.9, opacity = 0) => {
  return {
    hidden: { y, x, opacity },
    show: {
      x: 0,
      y: 0,
      opacity: 1,
      transition: {
        type: 'tween',
        delay,
        duration,
      },
    },
  }
}
---

<Layout title='Nikolay Tiushkov - Frontend developer from Sevastopol, CV'>
  <main class='mx-auto mb-16 max-w-6xl text-base text-gray-900 lg:text-xl'>
    <motion.h1 client:load variants={fadeIn(0, -50, 0)} initial='hidden' whileInView={'show'}>Nikolay Tiushkov</motion.h1>
    <motion.h2 client:load variants={fadeIn(-150, 0, 0)} initial='hidden' whileInView={'show'}>Frontend developer from Sevastopol</motion.h2>

    <motion.p className='mb-8' client:load variants={fadeIn(0, 0, 0.5, 0.5)} initial='hidden' whileInView={'show'}>
      I commenced my web development studies at <a href='https://rs.school/' target='_blank'>RS School</a> in December 2022. I successfully completed the JS/FRONT-END courses (stages 0/1/2), mastered the REACT course, and currently, I am pursuing the NODE.JS course.
    </motion.p>

    <motion.p className='mb-8' client:load variants={fadeIn(0, 0, 0.5, 0.5)} initial='hidden' whileInView={'show'}>
      I have a few certificates:
      <a href='https://app.rs.school/certificate/bhx9izkn' target='_blank'>Frontend</a>,
      <a href='https://app.rs.school/certificate/vxv52eoa' target='_blank'>React</a>,
      <a href=`${import.meta.env.BASE_URL}/assets/algorithms.pdf` target='_blank'>Algorithms</a>
    </motion.p>

    <h2>Links</h2>
    <div class='flex flex-col gap-4 justify-around p-4 m-auto my-4 bg-white rounded-md border-gray-200 shadow-md md:flex-row md:mx-4 md:p-8 hover:shadow-lg'>
      <ul class='space-y-0.5'>
        <motion.li client:load variants={fadeIn(0, 50, 0.4, 0.5)} initial='hidden' whileInView={'show'}><strong>Work</strong>: <a href='http://softvoile.com/' target='_blank'>softvoile.com</a></motion.li>
        <motion.li client:load variants={fadeIn(0, 50, 0.6, 0.5)} initial='hidden' whileInView={'show'}><strong>Private</strong>: <a href='http://begemotov.net/' target='_blank'>begemotov.net</a></motion.li>
        <motion.li client:load variants={fadeIn(0, 50, 0.8, 0.5)} initial='hidden' whileInView={'show'}><strong>Playground</strong>: <a href='https://leetcode.com/TNikolay/' target='_blank'>leetcode.com</a></motion.li>
      </ul>
      <ul class='space-y-0.5'>
        <motion.li client:load variants={fadeIn(0, 50, 1.0, 0.5)} initial='hidden' whileInView={'show'}><strong>Telegram</strong>: <a href='https://t.me/TNikolay80' target='_blank'>TNikolay80</a></motion.li>
        <motion.li client:load variants={fadeIn(0, 50, 1.2, 0.5)} initial='hidden' whileInView={'show'}><strong>Github</strong>: <a href='https://github.com/TNikolay' target='_blank'>TNikolay</a></motion.li>
        <motion.li client:load variants={fadeIn(0, 50, 1.4, 0.5)} initial='hidden' whileInView={'show'}><strong>Email</strong>: <a href='mailto:begemot@begemotov.net'>begemot@begemotov.net</a></motion.li>
      </ul>
    </div>

    <h2>Projects</h2>
    {projects.map((project) => <Project client:load data={project} />)}

    <h2>In past life</h2>
    <p class='mb-8'>In 2004, I completed my studies in computer science at the Kharkov Aviation Institute. Since then, I've ventured into various endeavors, primarily focusing on the development of desktop applications as an ISV. My expertise includes C++, MFC, Qt, wxWidgets, and more. Explore some of my products at <a href='http://softvoile.com/' target='_blank'>softvoile.com</a></p>
  </main>
</Layout>
